@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 253, 248, 245;
  --background-end-rgb: 253, 248, 245;

  /* Colores personalizados */
  --gold: 212, 175, 55;
  --champagne: 247, 231, 206;
  --light-champagne: 253, 248, 245;
  --olive-accent: 138, 154, 91;
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom, transparent, rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

/* Animaciones para elementos */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.animate-fadeIn {
  animation: fadeIn 1.5s ease-in-out;
}

/* Estilos personalizados */
.border-gold {
  border-color: rgba(var(--gold), 0.2);
}

.text-gold {
  color: rgb(var(--gold));
}

.bg-champagne {
  background-color: rgb(var(--champagne));
}

.text-olive-accent {
  color: rgb(var(--olive-accent));
}

.bg-light-champagne {
  background-color: rgb(var(--light-champagne));
}

